<!DOCTYPE html>
<html>
<head>
  <title>CSV File to HTML Table Using AJAX jQuery</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<style>
    .dropdown-menu{
    display: none;
    position: absolute;
    }

    nav ul li:hover ul{
    display: block;
    background-color:rgb(240, 112, 66);
    }

    #example {
        color: black;
    }
</style>
</head>
<body style="background-color: white;">
<nav class="navbar navbar-inverse">
        <div class="container-fluid", style="background-color:rgb(211, 94, 52)">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
    
            </div>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#" type="button" id="menu1">Visuals<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                        <li><a href="temp.html">Plot 1</a></li>
                        <li><a href="humidity.html">Plot 2</a></li>
                        <li><a href="cloudiness.html">Plot3</a></li>
    
                    </ul>
    
                </li>
                <li><a href="data.html">Data</a></li>
    
            </ul>
    
        </div>
</nav>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Abbr</th>
            <th>Gender</th>
            <th>Year</th>
            <th>Name</th>
            <th>Occurrence</th>
            <th>State</th>
            <th>Lat</th>
            <th>Lon</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Abbr</th>
            <th>Gender</th>
            <th>Year</th>
            <th>Name</th>
            <th>Occurrence</th>
            <th>State</th>
            <th>Lat</th>
            <th>Lon</th>
        </tr>
    </tfoot>
</table>
</body>
<script src="../static/data.js"></script>
</html>